# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# ===== Virtual environments =====
venv/
.venv/
env/
.hypothesis

# ===== Test artifacts =====
htmlcov/
coverage.xml
*.log
# Allure reports
allure-results/
allure-report/

# ===== Environment variables =====
.env
.env.*

# ===== IDEs =====
.vscode/
.idea/
*.iml

# ===== OS files =====
.DS_Store
Thumbs.db
